@model IEnumerable<SchwimmbadLib.Schwimmbahn>

@{
    ViewBag.Title = "AnsichtVerein";
}

<h2>Übersicht über alle vorhandenen Schwimmbahnen</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Schwimmbahnnummer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Schwimmbahnnummer)
        </td>
    </tr>
}
</table>
<div>
    @Html.ActionLink("Zurück zur Vereinsansicht", "Verein", "Home")
</div>
